.card-container {
  cursor: pointer;
  height: 300px;
  width: 400px;
  perspective: 800px;
  position: relative;
  margin: auto;
  transition: ease-in;
}

.card {
  height: 300px;
  width: 500px;
  position: absolute;
  border: 1px solid #300;
  transform-style: preserve-3d;
  transition: all 0.4s ease-in-out;
}

.card:hover {
  transform: rotateY(180deg);
  transition: all 0.4s ease-in-out;
}

.card .front {
  height: 300px;
  width: 500px;
  backface-visibility: hidden;
  position: absolute;
  overflow: hidden;
  text-align: center;

  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
  background-color: #fff;
  border: none;
}

.card .back {
  height: 300px;
  width: 500px;
  text-align: center;
  transform: rotateY(180deg);

  position: relative;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.25);
}

.eng {
  color: #333;
  font-size: 2.3em;
  padding-top: 25%;
}

.han {
  color: #333;
  font-size: 2.3em;
  padding-top: 20%;
}

.pin {
  color: rgba(200, 10, 10, 1);
  font-size: 2.3em;
  padding-top: 5%;
}
